Section: sound
Priority: optional
Homepage: https://blokas.io/
Standards-Version: 3.9.2
Package: pisound-ctl-scripts-puredata
Version: 1.03-6
Breaks: pisound-ctl (<< 1.03-6)
Replaces: pisound-ctl (<< 1.03-6)
Architecture: all
Maintainer: Blokas <hello@blokas.io>
Depends: pisound-btn (>= 1.11-1), pisound-ctl-scripts-common (>= 1.03-6), puredata
Description: Pisound CTL Pure Data scripts
