Source: pisound-ctl-scripts-puredata
Section: sound
Priority: optional
Maintainer: Blokas Labs <hello@blokas.io>
Build-Depends: debhelper (>= 11), debhelper-compat(= 11)
Standards-Version: 4.1.4
Homepage: https://blokas.io

Package: pisound-ctl-scripts-puredata
Breaks: pisound-ctl (<< 1.03-6)
Replaces: pisound-ctl (<< 1.03-6)
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, pisound-btn (>= 1.11-1), pisound-ctl-scripts-common (>= 1.03-7)
Description: Pisound CTL Pure Data scripts
